* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
h1{
    margin-top: 5px;
    text-transform: capitalize;
    font-size: x-large;
}
img{
    width: 77px;
    height: auto;
}
h2{

}
.contenu{
    display:block;
    margin-left: 14px;
}

.info_today{
    display: block;
    position: relative;
}
.degree{
    position: relative;
}
.degree div{
    position:absolute;
    top: 0;
    margin-left: 80px;
}
.for_today{
    display: block;
    margin-left: 174px;
    position: absolute;
    top: 0;
}
                    /* partir du contenu global */
section{
    display: block;
    width: 100%;
    padding: 0;
}
hr {
    display: block;
}
.info_day{
    display: block;
}
.info_day>div:first-child{
    margin-left: 0;
}
.info_day div{
    display: inline-block;
    margin-left: 15px;
}
.temperatur span{
    display: block;
}
.temperatur span:last-child{
    opacity: 0.5;
}
/* pour les ecran moins */

@media screen and (min-width:640px) {
    h1{
        font-size: xx-large;
    }
    .for_today {
        margin-left: 391px;
    }
    .info_day{
        padding: 10px;
    }
    .info_day div{
        margin-left: 71px;
    }
}
@media screen and (min-width:769px) {
    h1{
        font-size: xxx-large;
    }
    section{
        display:-webkit-box;
        text-align: center;
       /* margin-left: 98px;*/

    }
    .contenu{
        margin-left: 39px;
    }
    .info_day{
        display: block;
        padding: 10px;
    }
    hr {
        display: none;
    }
    .info_day div{
        display: block;
    }
    .temperatur span{
        display: inline-block;
    }


}