/*************** Style global *****************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/***************** Header *******************/
.header {
    display: none;
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
/************* Navigation *******************/
nav ul {
    display: none;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347; /* Couleur lors du survol */
}
section{
    text-align: center;
}
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
header p {
    font-style: italic;
}
.svg-inline--fa {
    margin-left: 518px;
}
div h2 {
    font-size: 1.8em;
    color: #537C9A;
    margin-bottom: 15px;
}
div p {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #555;
    line-height: 1.1;
    text-align: center;
}
hr {
    width: 50%;
    height: 4px;
    background-color: #333;
    border: none;
    margin: 20px auto;
    border-radius: 5px;
}
article {
    margin:  0 10px;
    text-align: center;
}
article>div{
    padding:10px;
    /*width: 320px;*/
    display: block;
    text-align: center;
    border: 1px solid black;
    color: #333333;
    background-color:#EAEFF2;
    margin-top:10px;
    height: 620px;
    vertical-align: top;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
    position: fixed;
    bottom:0;
    width: 100%;
    display: none;
}

@media screen and (min-width:640px) {
    article div{
        display:inline-block;
        margin-left:0;
        width: 288px;
    }
    .svg-inline--fa {
        display: none;
    }
    hr {
        display: none;
    }
    article>div{
        height: 778px;
    }
}
@media screen and (min-width:800px) {
    .header{
        display: -webkit-box;
    }
    article div{
       width: 387px;
    }
    article>div{
        height: 620px;
    }
}
@media screen and (min-width:1005px) {
    article div{
        width: 365px;
    }
}
@media print {
    footer {
        display: block;
    }
}
@media screen and (min-width:1504px) {
    nav ul {
        display: -webkit-box;
        margin-left: 897px;
    }
}