*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la fenêtre (viewport) */
    width: 100vw; /* 100% de la largeur de la fenêtre */
}
article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}
section{
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}
section div{
   /* flex-grow: 1;*/
}
.anim2>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 556px;
    height: 222px;
    background-color: darkgrey;
    border-radius:10px;
    margin: 5px;
}
h3{
    margin-top:10px
}
#queue{
    height: 453px;
}
.menu h3{
    color: white;
    padding: 5px;
    margin-top: 0;
    cursor: pointer;
    position:absolute;
    top: 0;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    background-color:black;
    position: relative;
}
.menu:hover{
    height:691px;
}
/*----------------------------------------------------------------
section 2
--------------------------------- */
.carre{
    width: 84px;
    height: 84px;
    margin-top:38px;
    background-color:yellow;
    animation-name: changecarre;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    transition: background-color 2s, transform 3s ;
}
@keyframes changecarre {
    from {background-color: yellow;}
    to {background-color: red; transform: rotate(540deg);}
}
.cube{
   width: 20px;
    height: 164px;
    margin-top:11px;
    background-color:transparent;
    border: 1px solid green;
    position: relative;
}
.cube>div{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color:green;
    animation-name: boul;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: background-color 1s ;
    position: absolute;
}
@keyframes boul {
    0%   {top:0;box-shadow:none;}
    20%  {top:143px; box-shadow:2px 3px green; }
    40%  {top:64px;box-shadow:none;}
    60%  {top:143px;box-shadow:1px 3px green;}
    80%  {top:74px;box-shadow:none;}
    100% {top:143px;box-shadow:1px 3px green;}
}
.cercle{
box-sizing:content-box;
    display: flex;
    flex-direction: row;
    margin-top: 17px;
}
.cercle>div{
    margin: 2px;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color:springgreen;
    border: 1px solid black;
    animation-name: cercle;
    animation-duration: 3s;
    /*animation-delay: -2s;*/
    /*animation-direction: alternate-reverse;*/
    animation-iteration-count: infinite;
    transition: background-color 2s;
}
.cercle div:nth-child(1){
    animation-delay: 1s;
}
.cercle div:nth-child(2){
    animation-delay: 2s;
}
.cercle div:nth-child(3){
    animation-delay: 3s;
}
@keyframes cercle {
    0%   {background-color: springgreen;}
    50%  {background-color: orange/*lightslategrey;*/ }
    100%  {background-color: red;}
}
.course{
    position: relative;
   /* box-shadow: 10px 5px 50px black inset;*/
}
.course div {
    position: absolute;
    animation-name: course;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    top: 0;
    left: 0;
}

.course div:nth-child(2) {
    animation-delay: 1s;
}

.course div:nth-child(3) {
    animation-delay: 2s;
}

.course div:nth-child(4) {
    animation-delay: 3s;
}

.course div:nth-child(5) {
    animation-delay: 4s;
}

.course div:nth-child(6) {
    animation-delay: 5s;
}

.course div:nth-child(7) {
    animation-delay: 6s;
}

@keyframes course {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 96%; /* À droite */

    }
    50% {
        top: 92%; /* En bas */
        left: 96%;
    }
    75% {
        top: 92%;
        left: 0; /* À gauche */
    }
    100% {
        top: 0;
        left: 0; /* Retour au départ */
    }
}
