* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container-fluid {
    width: 100%;
    padding: 0 15px; /* Padding générique */
}
@media (min-width: 1200px) {
    .container-fluid {
        padding: 0 50px; /* Plus de marge pour les écrans larges */
    }
}
/************contenu header********/
header{
    display: block;
}
.container{
    display: inline-block;
    text-align: center;
}
.phonNav{
    display: none;
}
/************contenu main********/
.row {
    /*: inline-block;*/
   /* width: 30%;*/
    display: block;
    border: 1px solid black;
    vertical-align: top;
    background-color: #555555;
    color: #fff;
    height: 508px;
}
.img_inside{
    width:115px;
    height:auto;
    float:left;
    margin-right: 18px;

}
.row div{
    display: inline-block;
    padding: 10px;
    text-align: left;

}
section{
    display:block;
}
/*[class*="col-"] {
    padding: 0 15px;
    box-sizing: border-box;
}
/************contenu pour les ecrans>700**************/
/* Colonnes pour écrans > 700px (sm) */
@media (min-width: 700px) {
    .phonNav{
        display: block;
    }
    header{
        display: inline-block;
    }
    .col-sm-12 {
        width: calc(100% / 12 * 12); /* Les colonnes prennent toute la largeur */
        display: inline-block;
    }
}

/* Colonnes pour écrans > 900px (md) */
@media (min-width: 900px) {
    .col-md-6 {
        width: calc(100% / 12 * 5); /* Les colonnes prennent la moitié de la largeur */
        display: inline-block;
        vertical-align: top;
    }
}

/* Colonnes pour écrans > 1200px (lg) */
@media (min-width: 1200px) {
    .col-lg-4 {
        width: calc(100% / 12 * 3); /* Les colonnes prennent un tiers de la largeur */
        display: inline-block;
        vertical-align: top;
    }
}