*{
    box-sizing: content-box;
}
body{
height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    justify-items: center;
    padding: 0;
    width: 100%;
}
.content_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header ul li{
    border: 1px solid black;
    flex-basis: fit-content;
    flex-grow: 1;
    text-align: center;

}
.section{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.article1{
    background-color: yellow;
    flex-basis: 60px;
}
.article1 aside{
}
.article2{
    background-color: deepskyblue;
    flex-basis:60px
}
.article2 aside{

}
.article3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: violet;
    width: 100%;



}
@media (max-width: 668px) {
    .article3 {
        flex-wrap: wrap; /* Les div passent en wrap quand l'écran est plus petit */
    }

    .article3 div {
        flex: 1 /* Chaque div prend 100% de la largeur de la ligne */
    }
}
.article3 div{
    border: 1px dotted white;
    padding: 15px;
}
.footer{
    background-color: lightgreen;
}
