*{
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
   /* height: 100%;
    width: 100%;*/
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la fenêtre (viewport) */
    width: 100vw; /* 100% de la largeur de la fenêtre */
}
.header{
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    justify-items: center;
    padding: 0;
    width: 100%;
}
.content_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header ul li{
    border: 1px solid black;
    flex-basis: fit-content;
    flex-grow: 1;
    text-align: center;

}
.content-main{
    flex: 1;
    display: flex;
}
.section{
    display: flex;
    flex-direction: row;
    /*height: 960px;*/
   /* width: 100%;*/
}
.article1{
    background-color: yellow;
    display: flex;
    /*flex-basis: 200px;*/

}
.article1 aside{
    flex-grow: 5
}
.article2{
    display: flex;
    background-color: deepskyblue;
    /*flex-basis: 200px;*/
}
.article2 aside{
    flex-grow: 5
}
.article3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: violet;
    /*width: 100%;*/
}
.article3 div{
    border: 1px dotted white;
    padding: 15px;
    /*width: 80%;*/
    flex: 1 0 203px;
}
.footer{
    background-color: lightgreen;
}
