*{
    box-sizing: content-box;
}
body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% de la hauteur de la fenêtre (viewport) */
    width: 100vw; /* 100% de la largeur de la fenêtre */
}
                    /*----------------------
                    style pour la partie header
                    --------------------------*/
.header{
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    align-items: center;
}
.header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0; /*pour enlever les padding ul */
    width: 100%;
    margin: 0; /*pour enlever les margin ul */
}
.content_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header ul li{
    border: 1px solid black;
    flex-grow: 1;
    text-align: center;
}
                        /*----------------------
                        style pour la partie main
                        --------------------------*/
.content-main{
    flex: 1;
    display: flex;
}
.section{
    display: flex;
    flex-direction: row;
}
.article1{
    background-color: yellow;
    display: flex;
    flex-grow: 1;
}
.article2{
    display: flex;
    background-color: deepskyblue;
    flex-grow: 1;
}
.article3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: violet;
    width: 80%;
}
.article3 div{
    border: 1px dotted white;
    padding: 15px;
    flex: 1 0 203px;/* flex pour le contenu des div */
}
               /*-----------------------
               style pour la partie footer
               --------------------------*/
.footer{
    background-color: lightgreen;
    text-align: center;
}
